<style>
  /* Fix collapsed navbar items */
  @media (max-width: 992px) {
    .navbar-collapse {
      background-color: aliceblue;
    }
  }
</style>


<!-- Navbar for the application -->
<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings"><strong> Wanderlust</strong></a>
      </div>
      <div class="navbar-nav search">
        <!-- <input class="form-control mr-sm-2 search-inp" type="search" placeholder="Search Destination" aria-label="Search">
      <button type="button" class="btn btn-outline-danger my-2 my-sm-0 search-btn"><i class="fa-solid fa-magnifying-glass search-glass"></i>Search</button> -->
        <form method="GET" action="/listings" class="d-flex align-items-center">
          <div>
            <input type="search" name="q" class="form-control mr-sm-2 search-inp" placeholder="Search Destination">
          </div>
          <div>
            <button type="submit" class="btn btn-outline-danger my-2 my-sm-0 search-btn">
              <i class="fa-solid fa-magnifying-glass search-glass"></i> Search
            </button>
          </div>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Host your home</a>
        <% if(typeof currUser === 'undefined' || !currUser) { %>
          <a class="nav-link" href="/signup"><b>Sign Up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>

          <% } else { %>
            <a class="nav-link" href="/logout"><b>Log out</b></a>
            <a class="nav-link" href="#"><b><i class="fa-solid fa-user"></i>
                <%= currUser.username %>
              </b></a>
            <% } %>
      </div>
    </div>
  </div>
</nav>
